{# vim: set filetype=htmldjango: #}
{% if not mode.single %}
{%extends 'thread.html' %}
{%endif%}
{# Note: At least one of mode.search, mode.single, mode.thread, mode.board must always be True #}
{#
{% if not (mode.single or mode.search) %}
	{%extends 'thread.html' %}
{% else %}
	{%extends 'outer.html' %}
	{% block outer_header %} 
		{{super()}}
	{% endblock %}
{% endif %}
#}
{# arg: posts(post list), board[anon], mode[search], config[www_path] #}
{% block b_thread %}
{% if mode.thread or mode.board %}
	 {{super()}} 
{%endif%}
{% block thread_replies %}
{% for post in posts %}
<table>
<tr>
<td class="doubledash">
	&gt;&gt;
</td>
<td class="reply" id="reply{{post.id}}">
	<a name="{{post.id}}"></a>
	<label>
	<input type="checkbox" name="post[]" value="{{post.id}}" />
	{% if post.subject %}
		<span class="filetitle">
			{{ post.subject }}
		</span>
	{% endif %}
	<span class="postername">
		{% if post.email %}
			<a href="mailto:{{post.email}}">
		{% endif %}
		{% if (not post.name) and (not post.tripcode) %}
				{{ config.ANONYMOUS }}
		{% else %}
			{{ post.name }}
		{% endif %}
		{% if post.email %}
			</a>
		{% endif %}
	</span>
	{% if post.trip %}
		<span class="postertrip">!{{post.trip}}</span>
	{% endif %}
	{{post.time.strftime("%Y/%m/%d (%a) %H:%M")}}
	</label>
	<span class="reflink">
		No. {{post.id}}
		{%- if mode.search -%}
		{% set thr_id =  post.id if post.thread==0 else post.thread %}
		Temat: <a href="{{ '%s/board/%s' | format(config.WWW_PATH, post.board) }}">{{ '/%s/' |format(post.board) }}</a>
		<a href="{{ '%s/thread/%s/%d' % (config.WWW_PATH, post.board, thr_id) }}">{{thr_id}}{{ '(OP)' if post.thread==0}}</a>
		{%- endif -%}
	</span>
	<span id="dnb-{{post.board}}-{{post.id}}-n"></span>
	{% if 0 and (post.file or post.file_type) and ( post.file  and post.file != 'removed') %}
		<br /><span class="filesize">
			File
			<a href="{{post.file}}.{{post.file_type}}"
				onclick="javascript:expandimg('{{post.id}}', '{{post.file}}.{{post.file_type}}', '/thumb/{{post.file}}.{{post.file_type}}',
				'ni', 'ni', 'ni', 'ni');return false;">
				{{post.file}}.{{post.file_type}}</a>
			- (ni)
		</span>

	{% endif %}
	
	{% if post.file  and 0 %}
		<br />
	{% if post.file == 'removed' %}
	<div class="nothumb">
		File<br />Removed
	</div>
	{% else %}
		<a target="_blank" href="{{post.file}}.{{post.file_type}}">
			<span id="thumb{{post.id}}"><img src="/thumb/{{post.file}}.{{post.file_type}}" alt="{{post.id}}" class="thumb" /></span>
		</a>
	{% endif %}
	{% endif %}

    <blockquote>
	{#
	{{ post.message.replace('\\"', '"').replace("\\'", "'")  }}
	#}
	{{ post.message | mkxlink(post.board)|nl2br }}
    </blockquote>
    </td></tr>
</table>
    {% endfor %}
{%endblock%}
{%endblock%}
